# --- Banco de Dados ---
dados/
../dados/
pypi_data.sqlite
*.sqlite
*.sqlite3

# --- Controle de Versão ---
.git
.gitignore

# --- Ambientes Virtuais e Dependências ---
# Python
venv/
.venv/
env/
__pycache__/
*.pyc
*.pyo
*.pyd

# --- IDE e Editor ---
.vscode/
.idea/
*.swp

# --- Arquivos do Sistema Operacional ---
.DS_Store
Thumbs.db

# --- Docker ---
docker-compose.yml
Dockerfile