services:
  app_interface:
    build: .
    container_name: python_dependency_resolver
    ports:
      - "8000:8000"

    working_dir: /app/src

    volumes:
      # Mapeia a pasta atual para /app dentro do container.
      # Permite edições no código sem rebuildar,
      # e garante que o arquivo .sqlite persista no disco local.
      - .:/app

    command: sh -c "uvicorn main:app --host 0.0.0.0 --port 8000 --reload"