version: '3.8'

services:
  app_interface:
    build: .
    container_name: python_dependency_manager
    ports:
      - "8000:8000"
    volumes:
      # Mapeia a pasta atual para /app dentro do container.
      # Permite edições no código sem rebuildar,
      # e garante que o arquivo .sqlite persista no seu disco.
      - .:/app

    command: uvicorn api:app --host 0.0.0.0 --port 8000 --reload